/* NAVIGATION */
#navbar {
    position: absolute;
    left: 0px;
    top: 0px;
    width: 1440px;
    height: 80px;
    /* background-color: #ffffff; */
  }
  #linkslist {
    position: absolute;
    left: 844px;
    top: 26px;
    width: 305px;
    height: 29px;
    display: flex;
    justify-content: space-between;
  }
  #button {
    position: absolute;
    left: 1181px;
    top: 12px;
    width: 178px;
    height: 56px;
    background: #ffffff;
    background-blend-mode: normal;
    color: black;
  }
  #logo {
    position: absolute;
    left: 83px;
    top: 25px;
    width: 140px;
    height: 28.35px;
  }
  /* HERO SECTION */
  #homeHero {
    position: absolute;
    left: 0px;
    top: 80px;
    width: 1440px;
    height: 720px;
    }

    #heroImg{
        position: absolute;
        left: 0px;
        top: 0px;
        width: 1440px;
        height: 720px;
        transform: scaleX(-1);
      }
      
  