@import url('//maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css');
*{
  margin: 0;
  padding: 0;
}
#root{
  /* height: 500px; */
  /* padding-top: 1%; */
  align-items: center;
  display: block;
} 

.container {
  margin: 0 auto;
  /* padding: 15px 0; */
  text-align: center;
  display: block;
}

/* NAVIGATION */
#navbar {
    display: flex;
    align-content: space-between;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: center;
    align-items: flex-end;
    width: 1440px;
    height: 170px;
    margin: 0 auto;
    background-color: #2b2f54;
  }

#linkslist {
    margin-left:40%;
    margin-bottom: 65px;
    width: 305px;
    height: 29px;
    display: flex;
    align-items: end;
    justify-content: space-between;
}
#button {
    display: flex;
    align-items: center;
    justify-content: center;
    margin:5px 0 50px 15px;
    width: 178px;
    height: 56px;
    background: #ffffff;
    background-blend-mode: normal;
    color: black;
  }

#logo {
    width: 190px;
    height: 160px;
    z-index: 0;
}
  /* HERO SECTION */
  .heroContainer{
    padding: 10px;
    /* display: flex; */
    display: grid;
    justify-content: center;
    align-items: center;
    width: 1440px;
    margin:0 auto;
    
  }
#homeHero {
  display: flex;
    width: 1440px;
    height: 720px;
    margin:0 auto;
    }

#heroImg{
  position: relative;
  width: 1440px;
  height: 720px;
  margin:0 auto;
  transform: scaleX(-1);
  z-index: 0;
}
      
img{
    position: relative;
    margin: 0;
    width: 190px;
    height:150px;
    z-index: -1;
}

#heroinfo {
  
  position: absolute;
    display:flex;
    justify-self: flex-start;
    justify-content: space-around;
    width: 800px;
    height: 400px;
}
h1{
      width: 660px;
      height: 128px;
      color: #ffffff;
      font-family: Sen;
      font-size: 56px;
      font-weight: 700;
      line-height: 64px;
      letter-spacing: -2px;
      text-align: justify;
}
.heroP{
    position: absolute;
    left: 0px;
    top: 240px;
    width: 500px;
    height: 56px;
    color: #ffffff;
    font-family: Inter;
    font-size: 16px;
    font-weight: 400;
    line-height: 28px; 
    text-align: center; 
}
.author{
      position: absolute;
      left: 1px;
      top: 196px;
      width: 249px;
      height: 28px;
      color: #ffffff;
      font-family: Inter;
      font-size: 16px;
      font-weight: 400;
      line-height: 28px;
}
.preH{
        position: absolute;
        left: 15px;
        top: -15px;
        width: 220px;
        height: 20px;
        color: #ffffff;
        font-family: Inter;
        font-size: 16px;
        font-weight: 600;
        line-height: 20px;
        text-transform: uppercase;
        letter-spacing: 3px;
}
/* Feature Post */
.featurePost{
  /* background-color: red; */
  margin:20px auto 0 auto;
  padding: 0 10px 0 10px;
  width: 1440px;
  height: 804px;
  display: flex;
  justify-content: space-evenly;
}

.featureImg{
  width: 669px;
  height: 352px;
}
.postWrapper{
  /* background-color: blue; */
  padding: 10px;
  width: 733px;
  height: 724px;
  border: 1px solid grey;
  display: block;
}
.featuredPostDetails{
  /* background-color: black; */
  position: inherit;
  text-align: justify;
}
.featuredPostDetails p{
  position: inherit;
  color: black;
  width:500px;
  
}

button{
  margin-top: 20px;
  padding: 10px;
  width: 204px;
  height: 56px;
  background-color: #ffd050;
  background-blend-mode: normal;
  font-size: 18px;
  font-weight: 700;
  line-height: 24px;
}

/* AllPost */
.allPost{
  width: 517px;
  height: 744px;
  /* display: flex; */
}

.allPostItems{
  margin-top: 30px;
  padding: 10px 20px;
  text-align: left;
}

/* .allPostItems p{
  font-size: 15px;
} */

/* Footer */
.bg{
  background: #2b2f54;
}
.footer{
  margin: 0 auto;
  outline: red;
  padding: 70px;
  width: 1440px;
  height: 560px;
  background: #2b2f54;
  background-blend-mode: normal;
}
.footerButton{
  margin: 0;
}
.footerContainer{
  margin: 0 auto;
  width: 1420px;
  height: 445px;
}
.CTA{
  margin: 0 auto;
  width: 1280px;
  height: 256px;
}
form{
  display: flex;
  justify-content: left;
}
form input{
  width: 350px;
  height: 56px;
  margin: 0 35px 0 0;
}
.footerContact{
  justify-content: left;
  color: aliceblue;
  font-size: 20px;
  font-weight: bold;
}

.footerSocials{
  color: aliceblue;
  display: flex;
  justify-content: space-evenly;
  font-size: 36px;
}